body {
    background-color: #18191b;
}

h1, h2, h5, h6, p {
    color: white;
}

.line {
    height: 0.5px;
    background-color: white;
    width: 100%;
}

.title-margin {
    margin-top: 40px;
    margin-bottom: 40px;
}

.device {
    width: 70%;
    margin: auto;    
    display: block;
    text-align: center;

}

.download {
    width: 70%;
    margin: auto;    
    display: block;
    text-align: center;

}


.app-container {
    margin-top: auto;
    margin-bottom: auto;
}

.footer-basic {
    margin-top: 30px;
    padding:20px 0;
    background-color:#263238;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid white;
    margin:0 8px;
    color: white;
    
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:white;
    margin-bottom:0;
  }
  

  h6, h5 {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 24px;
  }

  .projects-icon-style {
    border-radius: 15%;
    width:100px;
    height:100px;
    overflow:hidden;
  }

  .span2,
.span10 {
  padding: 5px;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card {
    flex: 0 0 auto;
  }
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card {
    display: inline-block;
  }
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper {
  &::-webkit-scrollbar {
    display: none;
  }
}

.carousel{
  display:block;
  width: 100%;
  height: 150px;
  overflow-x: scroll;
  padding: 15px;
  margin: 0;
  white-space: nowrap;
}

.item {
  display: inline-block;
  width: 380px;
  height: 110px;
  background-size: cover;
  position:relative;
  border-radius: 20px;
}

body::-webkit-scrollbar{
  display: none;
}